@font-face {
  font-family: "beth-ellen";
  src: url(../public/BethEllen-Regular.ttf);
}

* {
  font-family: "beth-ellen";
  text-align: center;
}

.computer {
  background: url(../public/background-pc.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.mobile {
  background: url(../public/background-mobile.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

#mint-button:hover ~ #mint-text {
  color: #ff0000;
  text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 20px #ff0000;
}
