@font-face {
  font-family: "corleone";
  src: url(../public/corleone.woff);
}

@font-face {
  font-family: "giovonni";
  src: url(../public/dongiovonni.ttf);
}

* {
  /* font-family: "giovonni"; */
  overflow: hidden;
}
